In [1]:
#importing all the necessary libraries
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
from selenium.webdriver.edge.service import Service

In [3]:
s = Service("msedgedriver.exe")

### Amazon.com

In [326]:
#driver loads www.amazon.in
url =  'https://www.amazon.in/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

#### Collecting Reviews and Comments for Smartphones

In [230]:
#searching for "smartphones"
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("smartphones")
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [277]:
#empty list for stoing all URLs of smartphone products
produrl =[]

In [251]:
produrl_tag = driver.find_elements_by_xpath("//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")

In [278]:
#the url of each smartphone is appended to the the list
for u in produrl_tag:
 try: 
     produrl.append(u.get_attribute("href"))
 except:
    produrl.append('-')

In [329]:
# an empty list to store all the urls of the comment pages
rateurl = []

In [330]:
"""collects all the urls of 1 star - 5 star comment pages.
This is done to ensure that all comments that are being collected, represent each of the 5 different star ratings equally"""
for i in produrl:
    driver.get(i)
    time.sleep(3)
    url_tag5 = driver.find_element_by_xpath("//a[@class='a-link-normal 5star']")
    url_tag4 = driver.find_element_by_xpath("//a[@class='a-link-normal 4star']")
    url_tag3 = driver.find_element_by_xpath("//a[@class='a-link-normal 3star']")
    url_tag2 = driver.find_element_by_xpath("//a[@class='a-link-normal 2star']")
    url_tag1 = driver.find_element_by_xpath("//a[@class='a-link-normal 1star']")
    rateurl.append(url_tag5.get_attribute("href"))
    rateurl.append(url_tag4.get_attribute("href"))
    rateurl.append(url_tag3.get_attribute("href"))
    rateurl.append(url_tag2.get_attribute("href"))
    rateurl.append(url_tag1.get_attribute("href"))

In [345]:
cmt = [] #empty list to store all comments
rate = [] #empty list to store all the ratings

In [349]:
#all the comments and ratings on 10 pages are collected
for i in rateurl:
    driver.get(i)
    for x in range(0,11):
        time.sleep(3)
        comment_tag = driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']")
        rate_tag = driver.find_elements_by_xpath("//a[contains(@href,'/gp/customer-reviews/')]/i/span[1]")
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.get_attribute("innerHTML"))
            except:
                rate.append("-")
        nxtbtn = driver.find_element_by_xpath("//*[@id='cm_cr-pagination_bar']/ul/li[2]/a")
        nxtbtn.click()

In [360]:
#removes the "out of 5 stars" text and stores only the numbers in the Rate list
Rate=[]
for r in rate:
    Rate.append(r.replace(' out of 5 stars',''))

In [365]:
#creating a dataframe to store the comments and ratings
ratingsdf = {'Comment':cmt,'Rating':Rate}

Ratedf1  = pd.DataFrame(ratingsdf)

In [366]:
Ratedf1

                                                Comment Rating
0     Just unboxed the phone. Seems to be a better o...    5.0
1     This is perfect phone, good speed, decent spec...    5.0
2     A very satisfying experience with the device s...    5.0
3     It's a real monster. Everything is awesome fro...    5.0
4     I am using this phone for the last one week an...    5.0
...                                                 ...    ...
6095  Please don't buy this...The data conctivity wa...    1.0
6096  Samsung M12. Camera clarity is absolutely wors...    1.0
6097  Horrible..bought this phone on launch date.cam...    1.0
6098  Hi friends don't purchase this phone with any ...    1.0
6099  Mobile is too bulky.. and thickness is too muc...    1.0

[6100 rows x 2 columns]

#### Collecting Reviews and Comments for Laptops

In [367]:
url =  'https://www.amazon.in/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [368]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("laptops")
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [372]:
produrl =[]
produrl_tag = driver.find_elements_by_xpath("//a[@class='a-link-normal s-link-style a-text-normal']")

In [373]:
for u in produrl_tag:
 try: 
     produrl.append(u.get_attribute("href"))
 except:
    produrl.append('-')

In [407]:
rateurl = []

In [408]:
for i in produrl:
    driver.get(i)
    time.sleep(3)
    url_tag5 = driver.find_element_by_xpath("//a[@class='a-link-normal 5star']")
    url_tag4 = driver.find_element_by_xpath("//a[@class='a-link-normal 4star']")
    url_tag3 = driver.find_element_by_xpath("//a[@class='a-link-normal 3star']")
    url_tag2 = driver.find_element_by_xpath("//a[@class='a-link-normal 2star']")
    url_tag1 = driver.find_element_by_xpath("//a[@class='a-link-normal 1star']")
    rateurl.append(url_tag5.get_attribute("href"))
    rateurl.append(url_tag4.get_attribute("href"))
    rateurl.append(url_tag3.get_attribute("href"))
    rateurl.append(url_tag2.get_attribute("href"))
    rateurl.append(url_tag1.get_attribute("href"))

In [418]:
cmt = []
rate = []

In [419]:
for i in rateurl:
    driver.get(i)
    for x in range(0,1):
        time.sleep(3)
        comment_tag = driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']")
        rate_tag = driver.find_elements_by_xpath("//a[contains(@href,'/gp/customer-reviews/')]/i/span[1]")
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.get_attribute("innerHTML"))
            except:
                rate.append("-")

In [422]:
Rate=[]
for r in rate:
    Rate.append(r.replace(' out of 5 stars',''))

In [423]:
ratingsdf2 = {'Comment':cmt,'Rating':Rate}

Ratedf2  = pd.DataFrame(ratingsdf2)

In [764]:
Ratedf2

                                               Comment Rating
0    Not for Gamers, High End Programmers, Multimed...    5.0
1    1.Light weight, handy. 2. Fast / good for basi...    5.0
2    It's worth the price. The screen is not as big...    5.0
3    ‡§ì‡§™‡§® ‡§®‡§π‡•Ä ‡§π‡•Å‡§Ü ‡§™‡•ç‡§∞‡•ã‡§°‡§ï‡•ç‡§ü ‡§¨‡§π‡•Å‡§§ ‡§Ö‡§ö‡•ç‡§õ‡§æ ‡§π‡•à ‡§∏‡§æ‡§á‡§ú ‡§Æ‡•á‡§Ç ‡§õ‡•ã...    5.0
5    Product is very good , suitable for limited li...    5.0
..                                                 ...    ...
517  Writing this review after 3 months use. Overal...    4.0
518  Good laptop with a great look and all needfull...    4.0
519  It heats a lot for basic tasks , i5 i a piece ...    1.0
520  1 lakh me without dedicated GPU... My opinion ...    1.0
521  Buy Apple MacBook instead. Don't go for LG. It...    1.0

[521 rows x 2 columns]

#### Collecting Reviews and Comments for earphones

In [428]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("earphones")
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [429]:
produrl =[]

In [433]:
produrl_tag = driver.find_elements_by_xpath("//a[@class='a-link-normal s-link-style a-text-normal']")

In [434]:
for u in produrl_tag:
 try: 
     produrl.append(u.get_attribute("href"))
 except:
    produrl.append('-')

In [441]:
rateurl = []
cmt = []
rate = []

In [442]:
for i in produrl:
    driver.get(i)
    time.sleep(3)
    url_tag5 = driver.find_element_by_xpath("//a[@class='a-link-normal 5star']")
    url_tag4 = driver.find_element_by_xpath("//a[@class='a-link-normal 4star']")
    url_tag3 = driver.find_element_by_xpath("//a[@class='a-link-normal 3star']")
    url_tag2 = driver.find_element_by_xpath("//a[@class='a-link-normal 2star']")
    url_tag1 = driver.find_element_by_xpath("//a[@class='a-link-normal 1star']")
    rateurl.append(url_tag5.get_attribute("href"))
    rateurl.append(url_tag4.get_attribute("href"))
    rateurl.append(url_tag3.get_attribute("href"))
    rateurl.append(url_tag2.get_attribute("href"))
    rateurl.append(url_tag1.get_attribute("href"))
    

for i in rateurl:
    driver.get(i)
    for x in range(0,11):
        time.sleep(3)
        comment_tag = driver.find_elements_by_xpath("//span[@class='a-size-base review-text review-text-content']")
        rate_tag = driver.find_elements_by_xpath("//a[contains(@href,'/gp/customer-reviews/')]/i/span[1]")
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.get_attribute("innerHTML"))
            except:
                rate.append("-")
        nxtbtn = driver.find_element_by_xpath("//*[@id='cm_cr-pagination_bar']/ul/li[2]/a")
        nxtbtn.click()

In [503]:
Rate=[]
for r in rate:
    Rate.append(r.replace(' out of 5 stars',''))

In [504]:
ratingsdf3 = {'Comment':cmt,'Rating':Rate}

Ratedf3  = pd.DataFrame(ratingsdf3)

In [505]:
Ratedf3

                                                 Comment Rating
0      One of the best pair of earphone for the price...    5.0
1      Build quality (5/5) Durability (4/5) Wire leng...    5.0
2      I bought this earphone cause I had read in the...    5.0
3      Just loved it and sound quality is awesome üòçüòç ...    5.0
4      Looking for earphones online? This may be the ...    5.0
...                                                  ...    ...
12645  The products of BOAT are ,no doubt, sound and ...    1.0
12646  After purchasing on 10-Aug-21, used the headph...    1.0
12647  I bought 3 on different times or 2 3 months ga...    1.0
12648  The earphones are too heavy. I did see few peo...    1.0
12649  I purchased these earphones a while ago, but s...    1.0

[12650 rows x 2 columns]

In [509]:
AmaznData = pd.concat([Ratedf1,Ratedf2,Ratedf3],ignore_index=True) #concatenating the 3 dataframes into a single dataframe

In [510]:
AmaznData

                                                 Comment Rating
0      Just unboxed the phone. Seems to be a better o...    5.0
1      This is perfect phone, good speed, decent spec...    5.0
2      A very satisfying experience with the device s...    5.0
3      It's a real monster. Everything is awesome fro...    5.0
4      I am using this phone for the last one week an...    5.0
...                                                  ...    ...
19267  The products of BOAT are ,no doubt, sound and ...    1.0
19268  After purchasing on 10-Aug-21, used the headph...    1.0
19269  I bought 3 on different times or 2 3 months ga...    1.0
19270  The earphones are too heavy. I did see few peo...    1.0
19271  I purchased these earphones a while ago, but s...    1.0

[19272 rows x 2 columns]

### Flipkart.com

In [704]:
#driver loads www.flipkart.com
url =  'https://www.flipkart.com/'
driver = webdriver.Edge("msedgedriver.exe")
driver.get(url)

In [507]:
#searching for "Smartphone"
search = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('Smartphone')
searchbtn = driver.find_element_by_class_name('L0Z3Pu')
searchbtn.click()

In [508]:
#empty list for stoing all URLs of smartphone products
produrl = []

In [513]:
#the url of each smartphone is appended to the the list
produrl_tag = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
for u in produrl_tag:
     produrl.append(u.get_attribute("href"))

In [552]:
revurl=[] # an empty list to store all the urls of the review section of the products

In [553]:
#the url of review section of each product is appended to the the list
for i in produrl:
    driver.get(i)
    time.sleep(1)
    rev_tag = driver.find_element_by_xpath("//*[@class='col JOpGWq']/a")
    revurl.append(rev_tag.get_attribute("href"))

In [714]:
cmt = [] # an empty list to store all of the comment
rate = [] # an empty list to store all the ratings
revpgurl=[] # an empty list to store all the urls of the pages containing reviews

In [715]:
#the url of each comment page is appended to the the list
for i in revurl:
    driver.get(i)
    time.sleep(2)
    
              
    revpg=driver.find_elements_by_xpath("//a[@class='ge-49M']")
    for n in revpg:
        revpgurl.append(n.get_attribute("href"))

In [717]:
#all the comments and ratings are collected
for j in revpgurl:
        driver.get(j)
        time.sleep(3)
        comment_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        rate_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.text)
            except:
                rate.append("-")

In [723]:
ratingsdf4 = {'Comment':cmt[0:1700],'Rating':rate[0:1700]}

Ratedf4  = pd.DataFrame(ratingsdf4) #creating dataframe of reviews and ratings

In [724]:
Ratedf4

                                                Comment Rating
0     Very good and very good performance and the ba...      5
1         I bought this for my mom ‚ò∫Ô∏è nyc at this price      5
2                   Great Phone on your pocket price ‚ù§Ô∏è      5
3                      Very nice looking and good phone      5
4                         Best mobile On this Priceüëåüëåüëåüëå      5
...                                                 ...    ...
1695                             Awesome mobile phone üì±      5
1696                              Good quality ....100%      5
1697                                               Best      5
1698                                          very good      5
1699                                               Good      5

[1700 rows x 2 columns]

In [725]:
#searches for "laptops"
search = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('Laptop')
searchbtn = driver.find_element_by_class_name('L0Z3Pu')
searchbtn.click()

In [728]:
produrl = []

In [729]:
produrl_tag = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
for u in produrl_tag:
     produrl.append(u.get_attribute("href"))

In [743]:
revurl=[]

In [744]:
for i in produrl:
    driver.get(i)
    time.sleep(1)
    rev_tag = driver.find_element_by_xpath("//*[@class='col JOpGWq']/a")
    revurl.append(rev_tag.get_attribute("href"))

In [747]:
cmt = []
rate = []
revpgurl=[]

In [748]:

for i in revurl:
    driver.get(i)
    time.sleep(2)
    
              
    revpg=driver.find_elements_by_xpath("//a[@class='ge-49M']")
    for n in revpg:
        revpgurl.append(n.get_attribute("href"))

In [750]:
for j in revpgurl:
        driver.get(j)
        time.sleep(3)
        comment_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        rate_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.text)
            except:
                rate.append("-")

In [753]:
ratingsdf5 = {'Comment':cmt[0:1200],'Rating':rate[0:1200]}

Ratedf5  = pd.DataFrame(ratingsdf5)

In [765]:
FlipktData = pd.concat([Ratedf4,Ratedf5],ignore_index=True)

In [766]:
FlipktData

                                                Comment Rating
0     Very good and very good performance and the ba...      5
1         I bought this for my mom ‚ò∫Ô∏è nyc at this price      5
2                   Great Phone on your pocket price ‚ù§Ô∏è      5
3                      Very nice looking and good phone      5
4                         Best mobile On this Priceüëåüëåüëåüëå      5
...                                                 ...    ...
2895  Switching from a windows laptop to a MacBook w...      5
2896  Superb I am happy to have this but only one th...      5
2897                                top class, must buy      5
2898  Value for money Best combination of 8gb ram 51...      4
2899  I got it at 60k 1) Superb performance. 2)Feel ...      5

[2900 rows x 2 columns]

In [767]:
RatingsDF = pd.concat([AmaznData,FlipktData],ignore_index=True) #concatenating amazon dataframe and flipkart dataframe

In [768]:
RatingsDF

                                                 Comment Rating
0      Just unboxed the phone. Seems to be a better o...    5.0
1      This is perfect phone, good speed, decent spec...    5.0
2      A very satisfying experience with the device s...    5.0
3      It's a real monster. Everything is awesome fro...    5.0
4      I am using this phone for the last one week an...    5.0
...                                                  ...    ...
22167  Switching from a windows laptop to a MacBook w...      5
22168  Superb I am happy to have this but only one th...      5
22169                                top class, must buy      5
22170  Value for money Best combination of 8gb ram 51...      4
22171  I got it at 60k 1) Superb performance. 2)Feel ...      5

[22172 rows x 2 columns]

In [769]:
RatingsDF.to_csv('RatingsWebscrape.csv') # Saving as .csv file